.video-card {
    width: 270px;
    margin: 10px;
    color: white;
    background: #000000;
    border-radius: 10;
  }
  
  .thumbnail {
    width: 90%;
    height: auto;
  }
  
  .video-info {
    padding: 5px;
    margin-top: -10px 
 }
  