.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px;
}

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-right: 20px;
}

.search-input {
    background-color: rgb(60, 60, 60);
    color: rgb(230, 230, 230);
    flex-grow: 1;
    width: 400px;
    padding: 6px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
